.footer {
  padding: calc($separacion / 10) 0;
  background-color: $grisOscuro;
  margin-bottom: 0;

  p {
    margin: 0 auto;
  }

  .navigation{
    visibility: visible;
    opacity: 1;
    height: auto;
  }

  .copyright {
    color: $blanco;
    text-align: center;
  }
}
