@include tablet {
  .lower-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
  }
}
.blog-entry {
  margin-bottom: 2rem;
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}
.entry-text {
  a {
    color: $black;
  }
  h4 {
    margin: 0;
    margin-top: 2rem;
    @include tablet {
      margin-top: 0;
    }
    line-height: 1.4;
    &::after {
      content: "";
      display: block;
      width: 15rem;
      height: 0.5rem;
      background-color: $verde;
      margin: 1rem;
    }
  }
  span {
    color: $amarillo;
  }
}
